body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Raleway'; }

.divider.divider-dark,
.divider-vert.divider-dark {
  filter: brightness(65%); }

.separator {
  display: block; }
  .separator.separator-sm {
    height: 10px; }
  .separator.separator-md {
    height: 80px; }
  .separator.separator-lg {
    height: 200px; }

a {
  text-decoration: inherit; }
  a:hover, a:focus, a:active {
    text-decoration: inherit; }

ul {
  list-style: none;
  margin: 0; }

.no-border {
  outline: none !important;
  border: none !important;
  box-shadow: none !important; }
  .no-border:focus, .no-border:active, .no-border:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important; }
